<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="G-One Client"
           Manufacturer="Project G-One"
           Version="1.0.0"
           UpgradeCode="65D38BEB-06D7-4F3E-A9DA-F4A92349E58D"
           Scope="perMachine"
           InstallerVersion="500"
           Compressed="yes">
    <SummaryInformation Description="G-One Windows client with integrated VPN runtime" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of G-One Client is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="G-One">
        <Component Id="ClientFiles" Guid="64F8187F-3DE8-4C86-B941-6A61B8B36BDC" Bitness="always64">
          <File Id="ClientExecutable" Source="$(var.PublishDir)\GOne.Client.exe" KeyPath="yes">
            <Shortcut Id="ApplicationShortcut"
                      Directory="ProgramMenuFolder"
                      Name="G-One Client"
                      WorkingDirectory="INSTALLFOLDER"
                      Advertise="yes" />
          </File>
          <File Id="ClientSettings" Source="$(var.PublishDir)\clientsettings.json" />
        </Component>
        <Directory Id="VPNFOLDER" Name="Vpn">
          <Component Id="WireGuardRuntimeComponent" Guid="DEEE2AA4-EA2B-4862-A93A-9C85878E84D5" Bitness="always64">
            <File Id="WireGuardExecutable" Source="$(var.WireGuardRuntimeDir)\wireguard.exe" KeyPath="yes" />
            <File Id="WireGuardCommandLine" Source="$(var.WireGuardRuntimeDir)\wg.exe" />
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <Feature Id="Complete" Title="G-One Client" Level="1">
      <ComponentRef Id="ClientFiles" />
      <ComponentRef Id="WireGuardRuntimeComponent" />
    </Feature>
  </Package>
</Wix>
